# This is Git's per-user configuration file.
[user]
	name = David Wagner
	email = david@wagnerkc.com
# Please adapt and uncomment the following lines:
#	name = Wagner
#	email = dwcgt@kc-sse-ml-rn04.cluster
[pull]
	rebase = false
